* {
  padding: 0;
  margin: 0;
}

body {
  background-color:rgb(39, 39, 39);
}

h1, h2, h3, h4, h5, p {
  color: whitesmoke;
}

.header-container {
  font-size: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.clicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.clicker-container button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 8%;
  border-top: 1px solid whitesmoke;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-weight: 800;
}

.request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.useState-with-array-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.useState-with-array-container ul {
  color: whitesmoke;
}

.mouse-position-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

.mouse-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

